In [531]:
from typing import List
from typing import Optional
from sqlalchemy import create_engine
from sqlalchemy import URL
from sqlalchemy import text
from sqlalchemy import ForeignKey
from sqlalchemy import String, Integer
from sqlalchemy import Select, Insert, Update
from sqlalchemy.orm import Session
from sqlalchemy.orm import DeclarativeBase
from sqlalchemy.orm import Mapped
from sqlalchemy.orm import mapped_column
from sqlalchemy.orm import relationship
from sqlalchemy import Column, Integer, String
from sqlalchemy import create_engine, inspect
from sqlalchemy import select
import pandas as pd
import numpy as np
import csv

In [532]:
class Base(DeclarativeBase):
    pass

In [533]:
class players(Base):
    __tablename__="players"
    
    id : Mapped[str] = mapped_column(String(length=255),primary_key=True)
    name : Mapped[str] = mapped_column(String(255),nullable = True)
    birth_date : Mapped[str] = mapped_column(String(255),nullable = True)
    age : Mapped[int] = mapped_column(nullable = True)
    height : Mapped[float]=mapped_column(nullable = True)
    current_club_id : Mapped[int] = mapped_column(ForeignKey("clubs.id"),nullable = True)
    club_joined : Mapped[str] = mapped_column(String(255),nullable = True)
    contract_expires : Mapped[str] = mapped_column(String(255),nullable = True)
    birth_place : Mapped[str] = mapped_column(String(255),nullable = True)
    citizenship : Mapped[str] = mapped_column(String(255),nullable = True)
    position : Mapped[str] = mapped_column(String(255),nullable = True)
    national_id : Mapped[int] = mapped_column(ForeignKey("national.id"),nullable = True)
    current_value : Mapped[float] = mapped_column(nullable = True)
    agent :  Mapped[str] =  mapped_column(String(255),nullable = True)
    foot : Mapped[str] = mapped_column(String(255),nullable = True)
        
    def __repr__(self) -> str:
        return f"players(id= {self.id}, name= {self.name}, birth_date= {self.birth_date}, age= {self.age}, height= {self.height}, current_club_id= {self.current_club_id}, club_joined= {self.club_joined}, contract_expires= {self.contract_expires},citizenship= {self.citizenship},birth_place= {self.birth_place},position= {self.position},national_id= {self.national_id},current_value= {self.current_value},agent= {self.agent},foot= {self.foot})"

class players_season(Base):
    __tablename__="players_season"
    
    id : Mapped[int] = mapped_column(primary_key=True)
    ###################
    player_id : Mapped[str] = mapped_column(ForeignKey("players.id"))
    season : Mapped[int] = mapped_column(nullable = True)
    club_id : Mapped[str] = mapped_column(ForeignKey("clubs.id"))
    ###################
    squad : Mapped[int]=mapped_column(nullable = True)
    appearance : Mapped[int] = mapped_column(nullable = True)
    point_per_goal : Mapped[int] = mapped_column(nullable = True )
    goals : Mapped[int] = mapped_column(nullable = True)
    assits : Mapped[int] = mapped_column(nullable = True)
    own_goals : Mapped[int] = mapped_column(nullable = True)
    yellow_card : Mapped[int] = mapped_column(nullable = True)
    second_yellow_card : Mapped[int] = mapped_column(nullable = True)
    red_card : Mapped[int] = mapped_column(nullable = True)
    penalty_goals : Mapped[int] = mapped_column(nullable = True)
    goals_conceded : Mapped[int] = mapped_column(nullable = True)
    clean_sheets :  Mapped[int] = mapped_column(nullable = True)
    minutes_per_goal : Mapped[int] = mapped_column(nullable = True)
    minutes_played :  Mapped[int] = mapped_column(nullable = True)
        
    def __repr__(self) -> str:
        return f"players_season(id= {self.id}, player_id= {self.player_id}, season_id= {self.season_id}, club_id= {self.club_id}, squad= {self.squad}, appearance= {self.appearance}, point_per_goal= {self.point_per_goal}, goals= {self.goals},assits= {self.assits},own_goals= {self.own_goals},yellow_card= {self.yellow_card},second_yellow_card= {self.second_yellow_card},red_card= {self.red_card},penalty_goals= {self.penalty_goals},goals_conceded= {self.goals_conceded},clean_sheets={self.clean_sheets},minutes_per_goal={self.minutes_per_goal},minutes_played={self.minutes_played})"

        
class clubs(Base):
    __tablename__ = "clubs"
    
    id : Mapped[str] = mapped_column(String(length=255),primary_key = True)
    name :  Mapped[str] = mapped_column(String(255),nullable = True)
    country_id : Mapped[int] = mapped_column(nullable = True)
    foundation_date : Mapped[str] = mapped_column(String(255),nullable = True)
    value : Mapped[float] = mapped_column(nullable = True)
    stadium : Mapped[str] = mapped_column(String(255),nullable = True)
    squad_size : Mapped[int] = mapped_column(nullable = True)
    average_age : Mapped[float] = mapped_column(nullable = True)
    current_transfer_record : Mapped[int] = mapped_column(nullable = True)
    #############
    national_players : Mapped[int] =  mapped_column(nullable = True)
    foreigners :  Mapped[int] =  mapped_column(nullable = True)

    def __repr__(self) -> str:
        return f"clubs(id= {self.id}, name= {self.name}, country_id= {self.country_id}, foundation_date= {self.foundation_date}, value= {self.value}, stadium= {self.stadium}, squad_size= {self.squad_size}, average_age= {self.average_age},current_transfer_record= {self.current_transfer_record},national_players= {self.national_players},foreigners= {self.foreigners})"

class  clubs_season(Base):
    __tablename__ = "clubs_season"
    
    id : Mapped[int] = mapped_column(primary_key = True)
    #################
    club_id : Mapped[str] = mapped_column(String(length=255),ForeignKey("clubs.id"))
    season : Mapped[int] = mapped_column(nullable = True)
    competition_id : Mapped[int] = mapped_column(ForeignKey("competitions.id"))
    #################
    rank : Mapped[int] = mapped_column(nullable = True)
    matches : Mapped[int] = mapped_column(nullable = True)
    win : Mapped[int] = mapped_column(nullable = True)
    draw : Mapped[int] = mapped_column(nullable = True)
    loss : Mapped[int] = mapped_column(nullable = True)
    goals_scored : Mapped[int] = mapped_column(nullable = True)
    goals_conceded : Mapped[int] = mapped_column(nullable = True)
    players_avg_age :  Mapped[float] = mapped_column(nullable = True)
    
    def __repr__(self) -> str:
        return f"clubs_season(id= {self.id}, club_id= {self.club_id}, season_id= {self.season_id}, competition_id= {self.competition_id}, rank= {self.rank}, matches= {self.matches}, win= {self.win}, draw= {self.draw},loss= {self.loss},goals_scored= {self.goals_scored},goals_conceded= {self.goals_conceded},players_avg_age={self.players_avg_age})"


class  transfers(Base):
    __tablename__ = "transfers"
    
    
    id : Mapped[int] = mapped_column(primary_key = True)
    ###############
    player_id : Mapped[str] = mapped_column(ForeignKey("players.id"))
    origin_club_id : Mapped[str] = mapped_column(ForeignKey("clubs.id"))
    destination_club_id :  Mapped[str] = mapped_column(ForeignKey("clubs.id"))
    season :  Mapped[int] = mapped_column(nullable=True)
    ###############
    market_value : Mapped[float] = mapped_column(nullable = True)
    fee :  Mapped[float] = mapped_column(nullable = True)
    
    def __repr__(self) -> str:
        return f"transfers(id= {self.id}, player_id= {self.player_id}, origin_club_id= {self.origin_club_id}, destination_club_id= {self.destination_club_id}, season_id= {self.season_id}, market_value= {self.market_value}, fee= {self.fee})"

class national(Base):
    __tablename__ = "national"
    
    id : Mapped[int] = mapped_column(primary_key = True)
    name :  Mapped[str] = mapped_column(String(255),nullable = True)

    def __repr__(self) -> str:
        return f"national(id= {self.id}, name= {self.name})"

class competitions(Base):
    __tablename__ = "competitions"
    
    id : Mapped[int] = mapped_column(primary_key = True)
    country_id : Mapped[int] = mapped_column(ForeignKey("national.id"))
    name : Mapped[str] = mapped_column(String(255),nullable = True)
    teams_number : Mapped[int] = mapped_column(nullable =True)
    market_value : Mapped[float] = mapped_column(nullable = True)
    avg_age : Mapped[float] = mapped_column(nullable = True)    
    players_number : Mapped[int] = mapped_column(nullable =True)
    foreigners : Mapped[int] = mapped_column(nullable =True)
    
    def __repr__(self) -> str:
        return f"competitions(id= {self.id}, country_id= {self.country_id}, name= {self.name}, teams_number= {self.teams_number}, market_value= {self.market_value}, avg_age= {self.avg_age}, players_number= {self.players_number},foreigners={self.foreigners})"

class seasons(Base):
    __tablename__  =  "seasons"
    
    id : Mapped[int] = mapped_column(primary_key = True)
    start_date: Mapped[str] = mapped_column(String(255),nullable = True)
    end_date: Mapped[str] = mapped_column(String(255),nullable = True)
    
    def __repr__(self) -> str:
        return f"seasons(id= {self.id}, start_date= {self.start_date}, end_date={self.end_date})"

In [534]:
User = 'root'
Pass = 'Qazule12345'
DB_NAME = 'final_transfer'

url1_object = URL.create(
    "mysql+mysqlconnector",
    username = User,
    password = Pass,
    host="localhost",
    database= DB_NAME
)

In [535]:
engine = create_engine(url1_object)

In [536]:
from sqlalchemy import select

with Session(engine) as session : 
    query = select(clubs) 
    clubs_df = pd.DataFrame([o.__dict__ for o in session.scalars(query)])
    clubs_df.drop(clubs_df.columns[0], axis=1,inplace=True)
    query = select(clubs_season) 
    clubs_season_df = pd.DataFrame([o.__dict__ for o in session.scalars(query)])
    clubs_season_df.drop(clubs_season_df.columns[0], axis=1,inplace=True)
    query = select(competitions) 
    competitions_df = pd.DataFrame([o.__dict__ for o in session.scalars(query)])
    competitions_df.drop(competitions_df.columns[0], axis=1,inplace=True)
    query = select(national) 
    national_df = pd.DataFrame([o.__dict__ for o in session.scalars(query)])
    national_df.drop(national_df.columns[0], axis=1,inplace=True)
    query = select(players) 
    players_df = pd.DataFrame([o.__dict__ for o in session.scalars(query)])
    players_df.drop(players_df.columns[0], axis=1,inplace=True)
    query = select(players_season) 
    players_season_df = pd.DataFrame([o.__dict__ for o in session.scalars(query)])
    players_season_df.drop(players_season_df.columns[0], axis=1,inplace=True)
    query = select(transfers) 
    transfer_df = pd.DataFrame([o.__dict__ for o in session.scalars(query)])
    transfer_df.drop(transfer_df.columns[0], axis=1,inplace=True)

In [537]:
import mysql.connector
from mysql.connector import errorcode

import pandas as pd
from datetime import date, datetime, timedelta

import random

In [538]:
cnx = mysql.connector.connect(
    user="root",
    host="127.0.0.1", 
    password="Qazule12345",
)

In [539]:
cursor = cnx.cursor()
cursor.execute(f"USE {DB_NAME}")

In [541]:
q="SELECT transfers.player_id AS player_id,age,height,position, goals,s.value AS source_club_value,d.value AS destination_club_value,transfers.market_value AS market_value,transfers.season AS transfer_season,fee FROM transfers INNER JOIN clubs s ON transfers.origin_club_id = s.id INNER JOIN clubs d ON transfers.destination_club_id = d.id JOIN players p on transfers.player_id = p.id JOIN (SELECT player_id,season,goals,point_per_goal from players_season   ) t ON t.player_id = transfers.player_id;"
df = pd.read_sql(q,con=cnx)

In [542]:
position_encoding = {
    'Centre-Forward': 4,
    'Second Striker': 3,
    'Attack': 3,
    'Midfield': 2,
    'Central Midfield': 2,
    'Attacking Midfield': 2,
    'Defensive Midfield': 2,
    'Left Midfield': 2,
    'Right Midfield': 2,
    'Left Winger': 2,
    'Right Winger': 2,
    'Defence': 1,
    'Centre-Back': 1,
    'Left-Back': 1,
    'Right-Back': 1,
    'Goalkeeper': 1
}
df['encoded_position'] = df['position'].map(position_encoding)

In [543]:
df.drop("position",axis=1,inplace=True)
#df.drop("fee",axis=1,inplace=True)
df["goals"].fillna(0, inplace=True)

In [520]:
df.drop("avg_fee",axis=1,inplace=True)
df["sumgoals"].fillna(0, inplace=True)

In [544]:
df

,player_id,age,height,goals,source_club_value,destination_club_value,market_value,transfer_season,fee,encoded_position
0,45383,35.0,183.0,0.0,12000000.0,2410000.0,4000000.0,2011,NaN,4
1,45383,35.0,183.0,1.0,12000000.0,2410000.0,4000000.0,2011,NaN,4
2,45383,35.0,183.0,2.0,12000000.0,2410000.0,4000000.0,2011,NaN,4
3,45383,35.0,183.0,0.0,12000000.0,2410000.0,4000000.0,2011,NaN,4
4,45383,35.0,183.0,4.0,12000000.0,2410000.0,4000000.0,2011,NaN,4
...,...,...,...,...,...,...,...,...,...,...
820344,157635,29.0,192.0,0.0,19630000.0,13330000.0,10000000.0,2013,1550000.0,4
820345,157635,29.0,192.0,11.0,19630000.0,13330000.0,10000000.0,2013,1550000.0,4
820346,157635,29.0,192.0,0.0,19630000.0,13330000.0,10000000.0,2013,1550000.0,4
820347,157635,29.0,192.0,11.0,19630000.0,13330000.0,10000000.0,2013,1550000.0,4
820348,157635,29.0,192.0,0.0,19630000.0,13330000.0,10000000.0,2013,1550000.0,4

In [545]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
lr = LinearRegression()
df['age']=df['age'].fillna(df['age'].mean())
mean_height_by_position = df.groupby('encoded_position')['height'].transform('mean')
df['height'].fillna(mean_height_by_position, inplace=True)

In [546]:
testdf = df[df['fee'].isnull()==True]
traindf = df[df['fee'].isnull()==False]
y = traindf['fee']
lr.fit(traindf.drop(["market_value","fee","player_id"],axis=1),y)
pred = lr.predict(testdf.drop(["market_value","fee","player_id"],axis=1))
testdf['fee']= pred
df = pd.concat([traindf, testdf])

C:\Users\pc\AppData\Local\Temp\ipykernel_2968\2180529197.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testdf['fee']= pred

In [547]:
df

,player_id,age,height,goals,source_club_value,destination_club_value,market_value,transfer_season,fee,encoded_position
103,338629,24.0,191.0,1.0,13330000.0,2410000.0,12000000.0,2019,8.250000e+06,1
104,338629,24.0,191.0,0.0,13330000.0,2410000.0,12000000.0,2019,8.250000e+06,1
105,338629,24.0,191.0,1.0,13330000.0,2410000.0,12000000.0,2019,8.250000e+06,1
106,338629,24.0,191.0,0.0,13330000.0,2410000.0,12000000.0,2019,8.250000e+06,1
107,338629,24.0,191.0,0.0,13330000.0,2410000.0,12000000.0,2019,8.250000e+06,1
...,...,...,...,...,...,...,...,...,...,...
820089,146096,28.0,170.0,17.0,1880000.0,13330000.0,500000.0,2017,2.307715e+07,2
820090,146096,28.0,170.0,2.0,1880000.0,13330000.0,500000.0,2017,1.683593e+07,2
820091,146096,28.0,170.0,26.0,1880000.0,13330000.0,500000.0,2017,2.682188e+07,2
820092,146096,28.0,170.0,0.0,1880000.0,13330000.0,500000.0,2017,1.600376e+07,2
820093,146096,28.0,170.0,6.0,1880000.0,13330000.0,500000.0,2017,1.850025e+07,2

In [549]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split

df.dropna(subset=['market_value'], inplace=True)
scaler = StandardScaler()

# Normalize each column of the dataframe
df = pd.DataFrame(scaler.fit_transform(df), columns=df.columns)

train , test = train_test_split(df, test_size=.2, random_state=313)
train , valid = train_test_split(train, test_size=.2, random_state=313)

In [550]:
model = LinearRegression()
model.fit(train.drop('market_value', axis=1), train.market_value)

LinearRegression()

In [551]:
from sklearn.metrics import r2_score

y_pred = model.predict(valid.drop('market_value', axis=1))

print("Validation R-squared: ",r2_score(valid.market_value, y_pred))

Validation R-squared:  0.44491021557198607

In [530]:
y_test_pred = model.predict(test.drop('market_value', axis=1))
print("Test R-squared",r2_score(test.market_value, y_test_pred))

Test R-squared 0.30854794346433867

In [461]:
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score


train , test = train_test_split(df, test_size=.2, random_state=313)
train , valid = train_test_split(train, test_size=.2, random_state=313)

# Define hyperparameters to tune
param_grid = {'linearregression__fit_intercept': [True, False]}

# Initialize linear regression model with pipeline
model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())
grid = GridSearchCV(model, param_grid, cv=5)


grid.fit(train.drop('market_value', axis=1), train['market_value'])


best_params = grid.best_params_


final_model = make_pipeline(StandardScaler(with_mean=False), LinearRegression(fit_intercept=best_params['linearregression__fit_intercept']))
final_model.fit(train.drop('market_value', axis=1), train['market_value'])


valid_preds = final_model.predict(valid.drop('market_value', axis=1))
valid_r2 = r2_score(valid['market_value'], valid_preds)


print("Validation R-squared: ", valid_r2)

Validation R-squared:  0.42790411215673385

In [462]:
y_test_pred = final_model.predict(test.drop('market_value', axis=1))
test_r2 = r2_score(test.market_value, y_test_pred)

print("Test R-squared: ", test_r2)

Test R-squared:  0.39142266718624064